/* HEADER - MENU */
.header{
    background-color: #4052b5;
    max-height: 100px;
    height: 100px;
    padding: 0px;
    max-width: 100vw;
    display: flex;

}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 205px;
    margin: 0px auto 0px 0px;
}

.header .logo h1{
    color: white;
    font-size: 30px;
    margin: 0px;
}

.header .logo img{
    margin-left: 10px;
    max-height: 30px;
    max-width: 30px;
}

.header .user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 20px 0px 0px;
    float: right;

}
.header .user a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header .user img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.header .menu{
    order: 2;
    width: 30%;
    margin: 0px auto;
    background:linear-gradient(to bottom, #4052b5,  #233494);
    border-radius: 20px;
}

.header .menu ul li{
    text-align: center;
}

.menu .nav-item .nav-link{
    width: 100%;
    color: white;
    margin: 0px auto;
    padding: 10px 20px;
    border-radius: 20px;
}
.menu .nav-item .nav-link:hover{
    color: whitesmoke;
    background-color: #1d2c83;
    
}

@media (min-width:991px){
    .header .logo{
        justify-content: flex-start;
        margin-left: 20px;
    }
    .header .logo h1{
        font-size: 35px;

    }
    .header .logo img{
        max-height: 30px;
        max-width: 30px;
    }
    .header .user{
        order: 2;
        margin-right: 20px;
    }

    .header .menu{
        order: 1;
        background: #4052b5;
    }
}
/* HEADER - MENU FINAL */

/* SIDEBAR */
.content{
    display: flex;
    flex-wrap: wrap;
}
.content .menu-admin{
    display: flex;
    flex-flow: column;
    height: calc(100vh - 100px);
    min-width: 250px;
    max-width: 350px;
    margin: 0px;
    position: relative;
    width: 25%;

    background-color: #424242;
}

.content .menu-admin header{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.content .menu-admin header h3{
    color: white;
    font-size: 1.2rem;
}

.content a{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
}
.content a:hover{
    background-color: #242424;
}
.content .botaoClose{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 30px;
    
    border-radius: 0;
    
    letter-spacing: 4px;
    font-size: 25px;
}

/* FINAL DA SIDE BAR */

.content .container {
    margin: auto;
    padding: 0;
    display: grid;
    width: 70%;
    background-color: tomato;
    height: calc(100vh - 100px);

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 25vh 25vh 25vh;
    grid-template-areas:
        "rotulo2 rotulo2 rotulo2"
        "grafico grafico perfis"
        "grafico grafico posts"
        "usuario denuncia curtida";
}



/*Barra Lateral Direita da Página*/


/*Centro da Pagina Contem o Gráfico e os dados Estatisticos*/
#pg-adm {
    grid-area: rotulo2;

    display: grid;

    align-content: center;
    align-items: center;
}

#pg-adm p {
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(35, 35, 161);
}
#grafico-adm {
    grid-area: grafico;

    display: grid;
    justify-content: center;
}
#perfil-adm {
    background-color: rgb(236, 228, 228);
    grid-area: perfis;

    display: grid;
    align-content: center;
    justify-content: center;

    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px grey;
}

#perfil-adm p {
    font-size: 45px;
    text-align: center;
}

#num-pos-adm {
    background-color: rgb(236, 228, 228);
    grid-area: posts;

    display: grid;
    align-content: center;
    justify-content: center;

    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px grey;
}

#num-pos-adm p {
    font-size: 45px;
    text-align: center;
}


#num-usu-adm {
    background-color: rgb(236, 228, 228);
    grid-area: usuario;

    display: grid;
    align-content: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px grey;
}

#num-usu-adm p {
    font-size: 45px;
    text-align: center;
}

#num-den-adm {
    background-color: rgb(236, 228, 228);
    grid-area: denuncia;

    display: grid;
    align-content: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px grey;
}

#num-den-adm p {
    font-size: 45px;
    text-align: center;
}

#num-cur-adm {
    background-color: rgb(236, 228, 228);
    grid-area: curtida;

    display: grid;
    align-content: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px grey;
}

#num-cur-adm p {
    font-size: 45px;
    text-align: center;
}


/*Barra Lateral a Direita*/




