body {
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100%;
    background-color: white;
}

.header {
    max-width: 100vw;
    min-height: 80px;
    background: linear-gradient(to bottom right, #4052b5, #161f55);
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 4px;

}

.header img{
    margin: 0px 5px;

    width: 30px;
    height: 30px;
}


#img-index{
    display: none;
}

.carousel-item {
    border-radius: 20px;
}

.carousel-item .img-carousel{
    border-radius: 20px;
}

#main-card{
    margin: 50px auto;
}

input{
    border-radius: 50px !important;
}

.buttonLink{
    margin: 10px auto 0px auto;
    font-size: 14px;

}


.botaoLayout {
    margin: 0;
    font-weight: 600;
    padding: 15px;
}



footer {
    min-height: 70px;
    padding-top: 25px;
    position: absolute;
    padding-bottom: 10px;
}

i {
    padding: 0;
    margin: 0;
    font-style: normal;
    list-style: none;
    cursor: pointer;
    color: #4052b5;
}

select {
    font-style: normal !important;
    cursor: pointer;
    border: 0 none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-style: italic;
    color:  #4052b5;
}


@media only screen and (min-width: 768px) {
    #img-index{
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    main {
        min-height: calc(100vh - 170px);
    }

    footer {
        padding: 0px;
    }
}