body {
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-size: 100%;
    background-color: white;
}

.header {
    max-width: 100vw;
    min-height: 100px;
    background: linear-gradient(to bottom right, #4052b5, #161f55);
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 4px;

}

.header img{
    margin: 0px 5px;

    width: 30px;
    height: 30px;
}

main{
    min-height: calc(100vh - 200px);
}

#img-index{
    display: none;
}

.carousel-item {
    border-radius: 20px;
    max-width: 100%;
}

.carousel-item .img-carousel{
    border-radius: 20px;
    margin: auto;

    max-height: 580px;
    max-width: 600px;
}

#main-card{
    margin: 20px auto;
}


.form-group label{
    margin-left: 10px;
    margin-bottom: 2px;

    font-weight: 600;
}



.form-group small {
    margin-left: 10px;
    font-style: italic;
}


.buttonLink{
    margin: 0px auto;
    font-size: 14px;
}

.botaoLayout {
    margin: 16px auto 0px auto;
    font-weight: 600;
    padding: 15px;
}


.botaoSecondary{
    font-weight: 600;
}

footer {
    max-height: 100px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

footer a{
    width: 25%;
    padding: 10px;
    margin: auto;
    
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

footer a:hover{
    background-color: #f4f4f4;
}

.footerCopyright {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footerCopyright small{
    letter-spacing: 2px;
}


@media only screen and (min-width: 768px) {
    #img-index{
        display: block;
    }

    main {
        min-height: calc(100vh - 200px);
        max-height: calc(100vh - 200px);
    }
    .form-group label{
        margin-left: 20px;
    }
    .modal-body .form-group input{
        width: 90%;
        margin: auto auto 25px auto;
    }
}

.modal-footer .botaoClose,
.modal-footer .botaoLayout{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    width: auto;
}

@media only screen and (min-width: 1700px) {
    .carousel-item .img-carousel{
        max-width: 1000px;
        max-height: 780px;
    }
}
