* {
    padding: 0px;
    margin: 0px;
}


.intro-petbook{
    background-image: linear-gradient(to right,rgb(13, 13, 102), rgb(176, 176, 255));
    padding: 1px;
    color: white;
    
}


main {
    margin-bottom: 35px;
}

footer {
    height: 70px;
    margin-bottom: 0 !important;
    color: rgb(13, 13, 102);
}

i {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

select {
    cursor: pointer;
    border: 0 none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-style: italic;
    color: rgb(8, 8, 87);
}

.btn{
    margin-bottom: 15px;
    background-color: rgb(188, 188, 252);
    color: black;
    font-weight: bolder;
}