/* HEADER - MENU */
.header{
    background-color: #4052b5;
    max-height: 100px;
    height: 100px;
    padding: 0px;
    max-width: 100vw;
    display: flex;

}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 205px;
    margin: 0px auto 0px 0px;
}

.header .logo h1{
    color: white;
    font-size: 30px;
    margin: 0px;
}

.header .logo img{
    margin-left: 10px;
    max-height: 30px;
    max-width: 30px;
}

.header .user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 20px 0px 0px;
    float: right;

}
.header .user a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header .user img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.header .menu{
    order: 2;
    width: 30%;
    margin: 0px auto;
    z-index: 10;
    background:linear-gradient(to bottom, #4052b5,  #233494);
    border-radius: 20px;
}

.header .menu ul li{
    text-align: center;
}

.menu .nav-item .nav-link{
    width: 100%;
    color: white;
    margin: 0px auto;
    padding: 10px 20px;
    border-radius: 20px;
}
.menu .nav-item .nav-link:hover{
    color: whitesmoke;
    background-color: #1d2c83;
    
}

@media (min-width:991px){
    .header .logo{
        justify-content: flex-start;
        margin-left: 20px;
    }
    .header .logo h1{
        font-size: 35px;

    }
    .header .logo img{
        max-height: 30px;
        max-width: 30px;
    }
    .header .user{
        order: 2;
        margin-right: 20px;
    }

    .header .menu{
        order: 1;
        background: #4052b5;
    }
}
/* HEADER - MENU FINAL */

/* SIDEBAR */
.body{
    display: flex;
    flex-wrap: wrap;
}
.body .menu-admin{
    display: flex;
    flex-flow: column;
    height: calc(100vh - 100px);
    min-width: 250px;
    max-width: 350px;
    margin: 0px;
    position: relative;
    width: 25%;

    background-color: #424242;
}

.body .menu-admin header{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.body .menu-admin header h3{
    color: white;
    font-size: 1.2rem;
}

.body a{
    text-decoration: none;
    padding: 20px 40px;
    color: white;
}
.body a:hover{
    background-color: #242424;
}
.body .botaoClose{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 30px;
    
    border-radius: 0;
    
    letter-spacing: 4px;
    font-size: 25px;
}

/* FINAL DA SIDE BAR */

/* COMECO DO CORPO GERAL */
.body .container{
    margin: 0px auto;
    padding: 0;
    width: 70%;

    height: calc(100vh - 100px);
    width: calc(100vw -25%);
}
.body .container h2{
    width: 100%;
    margin: 10px 0px 0px 10px;
}

.body .container .infos{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh;
    grid-template-areas:
        "grafico grafico perfis"
        "grafico grafico posts"
        "usuario denuncia curtida";
}
/* FINAL DO CORPO GERAL */

.card-info{
    font-size: 24px;
    z-index: 10;
    margin: 5px;
    border-radius: 50px;
    /* border: 1px solid #6161612a; */
    
    background-color: #f1f1f1;
    
    min-width: 150px;
    max-width: 300px;
    min-height: 150px;
    max-height: 200px;

    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;

}

/*Centro da Pagina Contem o Gráfico e os dados Estatisticos*/

#grafico-adm {
    grid-area: grafico;
    /* background-color: violet; */
}
#post-adm{
    grid-area: posts;
}
#user-adm{
    grid-area: usuario;
}
#report-adm{
    grid-area: denuncia;
}
#likes-adm{
    grid-area: curtida;
}
#perfil-adm {
    grid-area: perfis;
}



/*Barra Lateral a Direita*/





