
header {
    background-color: #424242;;
    color: white;
}

[class="carousel-control-prev"]:hover{
    background-image: linear-gradient(to right,#000000ab, #00000000);
}
[class="carousel-control-next"]:hover{
    background-image: linear-gradient(to left,#000000ab, #00000000);
}
@media(min-width:1200px){
    .content-carousel {
        height: 100vh;
    }
}



.content-carousel div {
    width: 100%;
    text-align: center;
}