* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1.nome-pag {
    font-size: 50px;
}

.jumbotron {
    height: 110vh;
    margin-bottom: 0;
    background-color: rgb(66, 140, 175);
    color: white;
    border-radius: 0px !important;
}

.carousel.slide {
    max-width: 600px;
    max-height: 600px;
}

img {
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 10px;
}

.cadastro {
    top: 10.5vh;
    border: solid .1px rgb(188, 206, 206);
}

@media only screen and (max-width: 768px) {
    .cadastro {
        top: 7vh;
    }
}

@media only screen and (max-width: 1024px) {
    .cadastro {
        top: 5vh;
    }
}

form {
    margin-left: 0px;
    padding: 0px;
    border-radius: 5px;
    max-height: 350px;
}

.enviar {

    height: 40px;
    width: 200px;
    background: rgb(238, 163, 37);
    border-radius: 5px;
    border: solid .1px rgb(238, 163, 37);
    line-height: 20px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    align-items: center;
    text-align: center;
    transition-duration: 0.1s;
}

.enviar:hover {
    background-color: rgb(252, 189, 87);
    border: rgb(252, 189, 87);
    color: white;
}

.lembrar-senha {
    color: blanchedalmond !important;

}

.criar-conta {
    color: blanchedalmond !important;
}

footer {
    background-color: rgb(236, 152, 17);
    height: 80px;
    background-image: linear-gradient(to bottom, rgb(66, 140, 175), rgb(236, 152, 17));
    height: 80px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 4px;
    padding-left: 10px;
}

a,
span {
    text-decoration: none !important;
    color:rgb(25,25,112) !important;
    font-size: 12px;
    font-weight: bolder;

}

@media only screen and (max-width: 768px) {

    a,
    selection,
    .item-rodape-idioma,
    .item-rodape {
        font-size: 10px;
    }
}

.item-rodape {
    padding: 0px;
    margin-top: 20px;
    margin-right: 15px;
    text-transform: uppercase;
    list-style-type: none;

}

.item-rodape-idioma {
    font-size: 12px;
    max-width: 50px;
    
    background-color: rgb(236, 152, 17,0);
    border: 0px;
    color:rgb(25,25,112) !important;
    font-weight: bolder;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 55PX;
}

