.mainHeader{
    background-color: var(--bg-primary);
    max-width: 100vw;
    height: 80px;
    max-height: 80px;
    background: linear-gradient(to bottom right, var(--bg-primary), var(--bg-secondary));
}