.mainHeader {
    position: sticky;
    background-color: var(--bg-primary);
    padding: 0 0px 0px 10px;
    width: 100vw;
    max-width: 100vw;
    height: 70px;
    max-height: 70px;
    /* background: linear-gradient(to bottom right, var(--bg-primary), var(--bg-secondary)); */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader .currentPage{
    color: white;
}
.mainHeader .userMenuBox{
    height: 100%;

}
.mainHeader .userMenuBox .buttonUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: none;
    
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    
    color: white;
    background: var(--transparent-color);

    transition: all ease-in-out 0.2s;
}

.mainHeader .userMenuBox .buttonUser.desktop {
    width: auto;
    max-width: 200px;
    justify-content: space-between;
}

.mainHeader .userMenuBox .buttonUser:hover {
    background-color: var(--bg-secondary);
}

.mainHeader .userMenuBox .buttonUser p {
    font-weight: bold;
}

.mainHeader .userMenuBox .buttonUser img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--transparent-color);

    padding: 1px;
    transition: border ease-in-out 0.3s;
}



