    * {
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    
    .upper-part {
        background-color: white;
        width: 100vw;
        height: 40vh;
        color: #293577;
    }
    
    #profile-image {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 2px dashed #293577;
    }
   #image-button, #image-button-add{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    
   }
 #image-button-add-profile{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     padding: -200px;
 }
    
    .changing-password-option {
        text-decoration: none;
    }
    
    .lower-part {
        background-color: #293577;
        width: 100vw;
        height: 60vh;
        color: ivory;
    }
    
    #criar-perfil,
    #saving-button {
        background-color: #293577;
        border: 2px solid #293577;
    }