    * {
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    
    .upper-part {
        background-color: white;
        width: 100vw;
        height: 75vh;
        color: #293577;
    }
    
    #profile-image {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        border: 2px dashed #293577;
    }
    
    .options-profiles div {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        border: 2px dashed #293577;
    }
    
    .changing-password-option {
        text-decoration: none;
    }
    
    .lower-part {
        background-color: #293577;
        width: 100vw;
        height: 255vh;
        color: ivory;
    }
    
    #criar-perfil,
    #saving-button {
        background-color: #293577;
        border: 2px solid #293577;
    }