*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.botaoLayout{
    padding: 20px;
    border-radius: 50px;
    width: 175px;
    border: none;
    
    background-color: #FF4081;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;

    transition: background-color ease-in-out 0.4s;
}

.botaoLayout:hover{
    background-color: white;
    color: #FF4081;
}