*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Usar nos botoes do site */
.botaoLayout{
    padding: 20px;
    border-radius: 50px;
    width: 175px;
    border: none;
    
    background-color: #FF4081;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.botaoLayout:hover{
    background-color: white;
    color: #FF4081;
}

/* Botao secundario */
.botaoSecondary{
    padding: 10px;
    border-radius: 50px;
    border: none;
    
    background-color: #48A7FE;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.botaoSecondary:hover{
    background-color: #236db3;
    color: white;
}
/* Usar nos links do site */
.botaoLink{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #48A7FE;
    font-weight: 600;

    transition: color ease-in-out 0.3s;
}

.botaoLink:hover{
    color: #236db3;
}

/* Inputs caixas de texto */

.inputLayout {
    text-align: center;
    width: 100%;
    padding: 25px 10px;
    background-color: #EBEBEB;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    height: calc(2.25rem + 2px);
}