.form-group{
    display: flex;

    flex-direction: column;

    margin: 10px auto;
}

.form-group .inputLayout {
    text-align: center;
    width: 100%;
    padding: 20px 5px;
    background-color: #fdfdfd;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    height: calc(2.25rem + 2px);

    outline: none;
}

.form-group .inputLayout:invalid {
    text-align: center;
    width: 100%;
    background-color: white;
    border: 1px solid #f44336;
    border-radius: 50px;
    height: calc(2.25rem + 2px);
}

.form-group label{
    margin-left: 17px;
    margin-bottom: 5px;

    font-weight: 600;
    color: #242424;
}

.form-group small {
    color: #f44336;
    margin-top: 5px;
    margin-left: 17px;
    font-style: italic;
    font-weight: 600;
}